---
import Layout from '../../../layouts/Layout.astro';

const breadcrumbs = [
  { name: "Work", href: "work" },
  { name: "Tools", href: "work/tools" },
];
---

<Layout breadcrumbs={breadcrumbs}>
  <h1>Welcome to Materials Cloud TOOLS!</h1>
  <p>Some content.</p>
  <p>More content.</p>
</Layout>

