<div id="dmp" class="space-y-2">
  <div class="space-y-2 px-4 text-gray-900 text-base leading-relaxed">
    <p>
      Materials Cloud supports Open Science and
      <a href="https://fairsharing.org" target="_blank"> FAIR sharing </a>
      of research data in the field of Materials Science.
    </p>
    <p>
      Research data can be made open, findable and accessible by publishing it
      on
      <a href="https://archive.materialscloud.org" target="_blank">
        Materials Cloud Archive</a
      >, an open repository for research data that are relevant to computational
      materials science. Submissions receive persistent DOIs and a guaranteed
      lifetime of at least 10 years from submission.
    </p>
    <p>
      In order to support researchers using Materials Cloud in preparing grant
      proposals, we also provide
      <a href="dmp" target="_blank">
        templates for data management plans (DMPs)</a
      >.
    </p>
    <p>
      In addition, the entire workflows of calculations, when performed using
      <a href="http://www.aiida.net" target="_blank">AiiDA</a>, can also be
      disseminated in their entirety using the
      <a href="explore" target="_blank"> Explore </a>
      and
      <a href="discover" target="_blank"> Discover </a>
      sections of the Materials Cloud, providing a beyond-FAIR comprehensive release
      of the simulations with their full provenance, and making entire simulation
      workflows fully reproducible.
    </p>
    <p>
      Finally, AiiDA workflows can be run seamlessly in
      <a href="work/aiidalab" target="_blank"> AiiDAlab</a>, a web platform
      where users can access their personal AiiDA environment in the cloud, and
      manage workflows through tailored and lightweight web applications,
      directly in the browser.
    </p>
  </div>
</div>
