<div id="about" class="space-y-2">
  <h3 class="text-xl font-medium">Vision and purpose</h3>
  <div class="space-y-4">
    <p class="text-gray-900">
      Materials Cloud is built to enable the seamless sharing and dissemination
      of resources in computational materials science, offering educational,
      research, and archiving tools; simulation software and services; and
      curated and raw data. These underpin published results and empower
      data-based discovery, compliant with data management plans and the FAIR
      principles.
    </p>
    <p class="text-gray-900">
      In the Materials Cloud you can browse, explore, download, or deposit raw
      and curated data (in the
      <a href="discover" target="_blank">Discover</a>,
      <a href="explore" target="_blank">Explore</a>, and
      <a href="archive" target="_blank">Archive</a> sections); you can access cloud
      or redeployable simulation services (from
      <a href="/work/aiidalab" target="_blank">AiiDAlab</a> turnkey simulations to
      the
      <a href="https://quantum-mobile.readthedocs.io/en/latest/" target="_blank"
        >Quantum Mobile</a
      >
      virtual machine, the
      <a href="https://aiidateam.github.io/aiida-registry/" target="_blank"
        >AiiDA registry</a
      >
      of plugins and workflows, and the
      <a href="https://www.osscar.org/" target="_blank">OSSCAR notebooks</a>, in
      the
      <a href="/work" target="_blank">Work</a> section), and you can use all our
      educational material, tutorials and lectures (in the
      <a href="/learn" target="_blank">Learn</a>
      section).
    </p>
    <p class="text-gray-900 mb-2">
      The Materials Cloud allows you to share your scientific results to make
      them:
    </p>
    <ul>
      <li>
        <b>Comprehensive:</b> Share the entire workflows and provenance graphs of
        your calculations, and not just individual input and output files.
      </li>
      <li>
        <b>Downloadable:</b> Download individual files or entire databases at the
        click of a button.
      </li>
      <li>
        <b>Browsable:</b> Browse and query calculations directly from a web browser.
      </li>
      <li>
        <b>Repurposable:</b> Download and import any database and start your calculations
        from where the original authors left off.
      </li>
    </ul>
    <p class="text-gray-900">
      Materials Cloud is powered by
      <a href="http://www.aiida.net/" target="_blank">AiiDA</a>, an open-source
      Python infrastructure to manage and persist the ever-growing amount and
      complexity of workflows and data in computational science.
    </p>
    <h3 class="text-xl font-medium">History and outlook</h3>
    <p class="text-gray-900">
      The vision for the project nucleated in 2010, with the
      <a href="marvel-proposal-2010">FET MARVEL Flagship Proposal</a>, and took
      shape in 2013, with the
      <a
        href="https://actu.epfl.ch/news/epfl-has-become-the-swiss-capital-for-research-on-/"
        target="_blank">SNSF MARVEL NCCR</a
      >, and in 2015, with the
      <a href="http://www.max-centre.eu" target="_blank"
        >H2020 MaX Centre of Excellence</a
      >.
    </p>
    <p class="text-gray-900">
      Today, Materials Cloud is supported by a
      <a href="#partners">consortium of partners</a>, including a
      <a
        href="https://www.go-fair.org/implementation-networks/overview/materials-cloud/"
        target="_blank">Go-FAIR implementation network</a
      >, is a recommended repository of the
      <a
        href="https://www.snf.ch/en/WtezJ6qxuTRnSYgF/topic/open-research-data-which-data-repositories-can-be-used"
        target="_blank">Swiss National Science Foundation</a
      >, European Commission through
      <a
        href="https://open-research-europe.ec.europa.eu/for-authors/data-guidelines"
        target="_blank">Open Research Europe</a
      >
      and of
      <a
        href="https://www.nature.com/sdata/policies/repositories#materials"
        target="_blank">Nature Scientific Data</a
      >, and remains open to further partnerships.
    </p>
  </div>
  <div class="p-8 flex justify-center items-center">
    <object
      data="images/mcloud-home-dark-footer-nologo-links.svg"
      type="image/svg+xml"
    >
    </object>
  </div>
</div>
