@import "tailwindcss";

@layer components {
  /* 
  For consistancy between banner-styled lists (tools/discover/learn)
  */
  .entries-container {
    @apply space-y-4 p-2;
  }
  .entry-container {
    @apply flex gap-4 p-4 rounded-xs bg-[rgba(245,245,245,0.19)] shadow-sm;
  }
  .entry-flex-shrink {
    @apply flex-shrink-0;
  }
  .entry-image {
    @apply w-24 h-24 object-contain rounded-md;
  }
  .entry-title {
    @apply text-base text-[rgb(21,101,192)] hover:no-underline;
  }
  .entry-info-container {
    @apply flex flex-col flex-1 ml-4;
  }

  .entry-author {
    @apply py-2 text-base text-gray-900;
  }
  .entry-description {
    @apply text-base text-gray-900;
  }
  .greyed-entry-container {
    @apply flex;
  }
}

@layer base {
  /* 
the default tailwind ul doesnt indent, numbers or have a disc
*/
  ul {
    @apply list-disc ml-8;
  }

  ol {
    @apply list-decimal ml-8;
  }

  /* this is referenced multiple times 
  */
  .doi-badge {
    @apply inline-flex items-center ml-2 bg-white rounded text-xs;
  }

  .doi-left {
    @apply mt-0.5 px-1 py-0.5 text-white bg-gray-900 rounded-l;
  }

  .doi-right {
    @apply mt-0.5 px-1 py-0.5 text-black bg-[#b3d4fc] break-all rounded-r hover:bg-[rgb(192,219,255)] hover:no-underline;
  }

  /* this is used heavily in explore
  */
  .explore-button {
    @apply px-2.5 py-1.5 rounded bg-[rgb(53,96,160)] text-gray-100 hover:bg-[rgb(68,114,184)] hover:text-gray-100 hover:no-underline;
  }

  /* 
The following define sitewide styles 
and are remnants from the legacy codebase.
*/
  html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    color: #222;
    font-weight: 400;
  }
  h1 {
    font-size: 40px;
    color: #0d47a1;
  }
  h2 {
    font-size: 32px;
    color: #0d47a1;
  }
  h3 {
    font-size: 22px;
    color: #1565c0;
  }
  h4 {
    font-size: 16px;
    color: #1565c0;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
    color: #1565c0;
  }
  pre,
  code,
  .numbers-font-family {
    font-family: "Space Mono", monospace;
    font-size: 14px;
    color: #455860;
    background: #f0f3f3;
  }
  a {
    cursor: pointer;
    color: #7499d1;
  }
  a:hover {
    text-decoration: underline;
    color: #3e70bb;
  }
  blockquote {
    border-left: 3px solid #d7dfe2;
  }
  p,
  ul,
  li {
    font-size: 16px;
    font-weight: 400;
  }
}
