---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 - Not Found">
  <div
    class="flex flex-col items-center justify-center min-h-[60vh] text-center space-y-4"
  >
    <img
      src="images/mcloud_logo.png"
      class="w-24 h-auto"
      alt="Materials Cloud logo"
    />
    <h1 class="text-5xl font-bold text-gray-800">404</h1>
    <p class="text-xl text-gray-600">
      This page does not exist. Please double-check the URL.
    </p>
    <a href="" class="explore-button"> Go to home </a>
    <a
      href="javascript:history.back()"
      class="inline-block px-4 py-2 bg-gray-200 text-gray-800 rounded hover:bg-gray-300 transition"
    >
      Go back to previous page
    </a>
  </div>
</Layout>
