---
import Layout from '../layouts/Layout.astro';

const breadcrumbs = [
  { name: "Discover", href: "/discover" },
];
---

<Layout breadcrumbs={breadcrumbs}>
  <h1>Welcome to Materials Cloud DISCOVER!</h1>
  <p>Some content.</p>
  <p>More content.</p>
</Layout>

