---
import Layout from '../layouts/Layout.astro';

const breadcrumbs = [
  { name: "Explore", href: "/explore" },
];
---

<Layout breadcrumbs={breadcrumbs}>
  <h1>Welcome to Materials Cloud EXPLORE!</h1>
  <p>Some content.</p>
  <p>More content.</p>
</Layout>

