---
import Layout from '../layouts/Layout.astro';

const breadcrumbs = [
  { name: "Learn", href: "learn" },
];
---

<Layout breadcrumbs={breadcrumbs}>
  <h1>Welcome to Materials Cloud LEARN!</h1>
  <p>Some content.</p>
  <p>More content.</p>
</Layout>

