---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="space-y-10">
    <section class="space-y-4">
      <h2 class="text-3xl">Terms of Use: Summary</h2>
      <hr class="border-t border-gray-300 mb-6" />

      <h3>Legal Notice</h3>
      <p>
        Materials Cloud is a service operated by the
        <a href="http://nccr-marvel.ch" target="_blank"
          >MARVEL National Centre of Competence</a
        >
        whose Leading House is
        <a href="https://www.epfl.ch" target="_blank">EPFL</a>, Lausanne,
        Switzerland and is hosted at the Swiss National Supercomputing Center (<a
          href="https://www.cscs.ch"
          target="_blank">CSCS</a
        >) in Lugano, Switzerland.
      </p>
      <p>
        MARVEL takes great care when presenting information on its websites but
        cannot guarantee that published content is accurate, up-to-date,
        reliable, or complete. Consequently, MARVEL cannot be held responsible
        for third-party content, even if MARVEL websites link or refer to them.
      </p>
      <p>
        The full Terms of Use of Materials Cloud can be found
        <a href="/terms">here</a>.
      </p>

      <h3>Privacy</h3>
      <p>
        For details, see the full
        <a href="/privacypolicy">Privacy Policy</a> of Materials Cloud.
      </p>

      <h3>Materials Cloud Codebase</h3>
      <p>
        Materials Cloud draws heavily upon
        <a href="http://www.aiida.net">AiiDA</a>, which is released under the
        MIT open source license. In particular, the REST API that enables the
        browsing of AiiDA databases through the EXPLORE section is released as
        part of AiiDA. The Materials Cloud codebase is currently closed source.
      </p>
      <p>
        User-contributed data, codes, etc. are subject to their respective
        licenses. No copyright is transferred to Materials Cloud upon
        submission.
      </p>
    </section>
  </div>
</Layout>
