---
import Layout from '../../layouts/Layout.astro';

const breadcrumbs = [
  { name: "Work", href: "/work" },
];
---

<Layout breadcrumbs={breadcrumbs}>
  <h1>Welcome to Materials Cloud WORK!</h1>
  <p>Some content.</p>
  <p>More content.</p>
</Layout>

