---
// -- WIP -- //
import Layout from "@layouts/Layout.astro";
import fs from "fs";
import yaml from "js-yaml";

// For now this yaml only has the top level entries. This section is kind of severely nested and pathnames seem random.
const file = fs.readFileSync("./src/data/learn-sections.yml", "utf8");
const data = yaml.load(file);

// need to pipe this logic up from the data structure...
// Since this section is not expected to change it might be nice to put this fully in the front end.
export async function getStaticPaths() {
  return [
    { params: { slug: "Btmngu" } },
    { params: { slug: "mnG1lg" } },
    { params: { slug: "12A7nC" } },
    { params: { slug: "TEST_ENTRY/BLAH" } },
  ];
}

const slug = Astro.params.slug; // slug is a string
const slugParts = slug ? slug.split("/") : [];
---

<Layout title={slug}>
  <div class="space-y-10">
    <section class="space-y-4">
      <h3 class="text-3xl">Learn with videos and slides</h3>
      <hr class="border-t border-gray-300 mb-6" />

      <p>Slug string: {slug}</p>
      <p>Slug parts: {JSON.stringify(slugParts)}</p>
    </section>
  </div>
</Layout>
